@import url(../../animations/ghostly.css);

.feynman__link {
  color: black;
  position: absolute;
  top: 50%;
  right: 48px;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  text-decoration: none;
}

