@keyframes ghostly {
  from {opacity: 100%;}
  to {opacity: 75%;}
}

.feynman__link {
  color: black;
  position: absolute;
  top: 50%;
  right: 48px;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  text-decoration: none;
}

.feynman__link:hover {
  animation: ghostly 0.5s 1 linear forwards;
}
