@import url(./_image/cards__item_image.css);
@import url(./_title/cards__item_title.css);
@import url(./_description/cards__item_description.css);

.cards__item {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  width: 240px;
  margin-left: 100px;
}

.cards__item:nth-of-type(3n+1) {
  margin-left: 0;
}
